<aside id="sidebar-all" class="sidebar-admiss"  > 
    <div class="sidebar" >
    <a href="javascript:void(0)" class="closebtn" onclick= "closeSidebar()">x</a>
          
    <!-- <div class="container-left"> -->
        <div class="container-left-row" >
            <a href="/resources/show">
            <i class="fas fa-archive" aria-hidden="true"> Resources</i>
            </a>
        </div>
            
    <hr>
        <div class="container-left-row">
            <a href="/admissions/show">
            <i class="fas fa-university" aria-hidden="true"> Admissions</i>
            </a>
        </div>
    <hr>
    
        <div class="container-left-row">
            <a href="/study/show">
            <i class="fas fa-book-open" aria-hidden="true"> Study Habits</i>
            </a> 
        </div>
    <hr>    
        
            <div class="container-left-row">
                <a href="#">
                <i class="fas fa-pen" aria-hidden="true"> Practice</i>
                </a>
            </div>
    <hr>    
        
            <div class="container-left-row">
                <a href="/connect/show">
                <i class="fas fa-envelope" aria-hidden="true"> Connect</i>
                </a> 
            </div>
          </div>
        </aside>