<footer id="main-footer">
    <nav aria-labelledby="footer-navigation">
    
    <div class="footer-content">
        <div id="h3"> 
        
        <div class="container2" id="lets-connect">
            <h3>LETS CONNECT</h3>
        
            <div class="text-footer">
                <i class="fas fa-map-marker-alt"> </i>
                <div class="location-text"> Nucleus
                <br> Carbondale, IL
                </div>
            
            </div> 
        </div>
        

            <div class="container3">
                
                <h3>FOLLOW US</h3>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
               
            </div>

            <div class="email">
                <h3>EMAIL </h3>
                <a href="mailto:lisaboston@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a>
            </div>

    </div> 
    </div>       

            <div class="copyright">  
         <p> &copy; 2021 My website | Nucleus </p>
    </div> 

    </div>
    </nav>
</footer>
</body>
</html>