<div class="top-container">
    <header id="main-header">
       
        <a href="/home">
            <img src="../../images/nucleus.png" style="width: 70px;">
        
        <div class="container">
             <h1>Nucleus</h1> </a>
       
    </div>
    </header>
    <nav id="nav-bar">
        <i class="fas fa-bars"></i>
        
            <ul class="menuItems">
                <li><a href="/home">HOME</a></li>
                <li><a href="/survey/show">SURVEY</a></li>
                <li><a href="/about">ABOUT</a></li>
                
            </ul>
    

    </nav>