<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://kit.fontawesome.com/ecf487572c.js" crossorigin="anonymous"></script>
    <script defer src=script.js></script>
</head>
<body>
    
        <div class="top-container">
            <header id="main-header">
                <a href="index.html">
                    <img src="./images/nucleus.png" style="width: 70px;">
                
                <div class="container">
                     <h1>Nucleus</h1> </a>
               
            </div>
            </header>
            <nav id="nav-bar">
                <i class="fas fa-bars"></i>
                
                    <ul class="menuItems">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="survey.html">SURVEY</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        
                    </ul>
                
            </nav>
       
        <section id="showcase-admissons">
            <div class="container-admis">
            <h1>Resources</h1> 
    
            <div id="main-button">
              <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
            </div>
    
        </section>


        <aside id="sidebar-all" class="sidebar-admiss"  > 
            <div class="sidebar" >
            <a href="javascript:void(0)" class="closebtn" onclick= "closeSidebar()">x</a>
                  
            <!-- <div class="container-left"> -->
                <div class="container-left-row" >
                    <a href="_blank">
                    <i class="fas fa-home" aria-hidden="true"> Resources</i>
                    </a>
                </div>
                    
            <hr>
                <div class="container-left-row">
                    <a href="admissions.html">
                    <i class="fas fa-home" aria-hidden="true"> Admissions</i>
                    </a>
                </div>
            <hr>
            
                <div class="container-left-row">
                    <a href="#">
                    <i class="fas fa-home" aria-hidden="true"> Study Habits</i>
                    </a> 
                </div>
            <hr>    
                
                    <div class="container-left-row">
                        <a href="#">
                        <i class="fas fa-home" aria-hidden="true"> Practice</i>
                        </a>
                    </div>
            <hr>    
                
                    <div class="container-left-row">
                        <a href="#">
                        <i class="fas fa-home" aria-hidden="true"> Connect</i>
                        </a> 
                    </div>
                  </div>
                </aside>
    <!------------resource body-------> 
    <div class="resources-body">
        <h2>Boston: The Science Hub</h2>
        <p>
       There are hospitals, univerisities and organizations around Boston that you can apply to for additonal support. Before applying to medical school you want to expereince as much as you can to supplement your application and show that you understand the responsibilites of being a physician.  
        </p>
        <p>If you need to enhance your academic record there are numerous universities to take additional classes. If you want to gain clinical experience try applying for a posotion at a local hospital. Below is a list of various resources around the city. </p>
    
    <div class="collection-body">
        <div class="complete-title">
            <h2>RESOURCE COLLECTION</h2>
        </div>
    <div id="all-images">
        <% data.forEach(comic => { %>
        <%- include('../partials/single-book', { data: comic}) %>
        <% }); %>

    </div>
    
    
    
    
    </div>
    </div>





<!------------^resource body^---------->

<!---------Footer------->
<footer id="main-footer">
    <div id="h3"> 

        <div class="container2" id="lets-connect">
            <h3>LETS CONNECT</h3>

            <div class="text-footer"><p>Nucleus <br>
            Boston, MA </p>
            </div>
        </div>

            <div class="container3">
                <h3>FOLLOW US</h3>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            </div>
     <div>  
         <p>copyright &copy; 2021 My website</p>
    </div> 

    </div>
</footer>

</body>
</html>