<%- include('../partials/head') -%>
    <%- include('../partials/nav-bar') -%>

        <div class="body-color">
    <!----------Header---------->
    <div class="some-background">
        
         <span class="motivation-one">We are here to help you succeed.</span>
        <div class="container-about-motivation"> <p>We are here to support you</p>
        
            <div id="main-button">
                <button class= "openbtn" id="transparent-button"onclick="openSidebar()"> &#8592;</button> 
              </div>
            </div>

        </div>
        <!--------This is the main body content------>
        <%- include('../partials/aside-bar.ejs') -%>
        
        <div class="about">  
        <div class="h1"><h1>ABOUT NUCLEUS</h1></div>
        <p>Nucleus is designed to help students through the process of preparing and applying to medical school. There is a wealth of information available online, but in my opinion it is hard to determine what is helpful. This site collects infomation that was used by student that sucessfully matericulated into medical school and provides advice for students looking for additional guidence. There are multiple factors that are considered when applying to schools. This site will discuss information beyond just the application. There are important deadlines, helpful content and study methods that will be highlighted. We look forward to connect with you and doing our best to get you the infomation needed to apply to medical school.  
        </p>
        </div>
        <div class = "mission">
        <h2 class="h2">MISSION</h2>
           <p>The mission of nuclues is to get you into medical school and provide insight into the process. We strive to be a virtual mentor and a one stop shop for all things pre-med. </p>
    </div>
    <footer id="main-footer">
        
        <p>copyright &copy; 2021 My website</p>
    </footer>
</body>
</html>