<%- include('../partials/head') -%>
  <%- include('../partials/nav-bar') -%>
      <section id="showcase-admissons">
          <div class="container-admis">
          <h1>Admissions</h1> 
  
          <div id="main-button">
            <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
          </div>
  
      </section>


      <%- include('../partials/aside-bar.ejs') -%>


    <div class="container-admission-body" id="main">
        <div class="main1">
            <div class="img-text">
            <h2>Lets get that Acceptance!</h2>
                <div class="woman-white-coat">
                <img src="../images/woman-whitecoat.jpeg" alt="woman-white-coat" style="width:90%">  
                </div>
            </div>

        
        <div class="contianer-text">
            <p>The AAMC website includes information about the admissions timeline, if you want to read about the process more. It is important to apply early because you want to start interviewing as soon as the school starts with that part of the admissions process. Below is a timeline of important dates. </p>

           
              </div>
        </div>

        <!--include a table of content box-->
        
      </div>


    
        
          
<!-- RIGHT SIDE TIMELINE -->
<div class="timeline">
        <div class="timeline-title">
            <p>Timeline</p> 
        </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>March</h2>
        <p>Start meeting with professors to let them know your plans to apply. Ask if the professor could write you a strong letter of support for your application.</p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>April</h2>
        <p>Start writing about the activities you did throughout college. The AAMC application has 15 spots to write about all your activities. You are not required to have 15 activities but it is beneficial to fill out as many as you can. Also request transcripts  to send to AAMC.</p>
      </div>
    </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>May</h2>
        <p>In may the AAMC application opens update to allow studnets to input information. This is a long application and you can save parts. Input information and read over for typos. Look over the application serveral times. </p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>June</h2>
        <p>If you dont take the MCAT earlier in the year this would be the best time to take it. You submit the application this month and you do not need to have score just yet. It will take time for you application to be verified. </p>
      </div>
    </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>July</h2>
        <p>Secondaries are sent out. These are supplemental to the primary application. You need to send in the secondaries to receive an interview. Interviews are starting in July. Practice questions before you go to the schools and research the schools.</p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>August</h2>
        <p> Acceptances are starting to be sent out. By this time it is important to have all part of you application submited.  </p>
      </div>
    </div>
  </div>



</div>




<!--^END OF RIGHT CONTAINER^-->



    <footer id="main-footer">
        <p>copyright &copy; 2021 My website</p>
    </footer>
</body>
</html>
</body>
</html>