<%- include('../partials/head') -%>
  <%- include('../partials/nav-bar') -%>
      <section id="showcase-admissons">
          <div class="container-admis">
          <h1>Admissions</h1> 
  
          <div id="main-button">
            <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
          </div>
  
      </section>


      <%- include('../partials/aside-bar.ejs') -%>


    <div class="container-admission-body" id="main">
        <div class="main1">
            <div class="img-text">
            <h2>Lets get that Acceptance!</h2>
                <div class="woman-white-coat">
                <img src="../images/woman-whitecoat.jpeg" alt="woman-white-coat" style="width:90%">  
                </div>
            </div>

        
        <div class="contianer-text">
            <p>The AAMC website includes information about the admissions timeline, if you want to read about the process more. It is important to apply early because you want to start interviewing as soon as the school starts with that part of the admissions process. Below is a timeline of important dates. </p>

            <form action="/" method="post"> 
            
            
              <div>
                  <label for="publisher"><h3>When are you submiting your AAMCAS application?</h3></label>
                  <select name="month" id="month">
                      <option value="select">Select</option>
                      <option value="may">May</option>
                      <option value="june">June</option>
                      <option value="july">July</option>
                      <option value="august">August</option>
                      <option value="september">September</option>
                      <option value="other">Other month</option>
                  </select>
                  <div class="sumbit-button">
                      <input type="button" class="admin-delete-button" value="Submit"> 
                  </div>
              </form>
              </div>
        </div>

        <!--include a table of content box-->
        
      </div>


    
        
          
<!-- RIGHT SIDE TIMELINE -->
<div class="timeline">
        <div class="timeline-title">
            <p>Timeline</p> 
        </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>March</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>April</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>May</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>June</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container-timeline left">
      <div class="content">
        <h2>July</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
    <div class="container-timeline right">
      <div class="content">
        <h2>August</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>
  </div>



</div>




<!--^END OF RIGHT CONTAINER^-->



    <footer id="main-footer">
        <p>copyright &copy; 2021 My website</p>
    </footer>
</body>
</html>
</body>
</html>