<%- include('../partials/head') -%>
  <%- include('../partials/nav-bar') -%>
      <section id="showcase-admissons">
          <div class="container-admis">
          <h1>Admissions</h1> 
  
          <div id="main-button">
            <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
          </div>
  
      </section>


      <%- include('../partials/aside-bar.ejs') -%>





      




      <!---------Footer------->
<%- include('../partials/footer') -%>