<%- include('../partials/head') -%>
    <%- include('../partials/nav-bar') -%>
<!-----------^Main Header----------->

    <section id="showcase">
        <div class="container">
        <h1>All the information you need to apply to medical school.</h1>
        </div>
    </section>
</div>


    <div class="container">
        <div class="welcome-container">
            <section id="main">
                <h1>Welcome</h1>
                <p>Hello future doctor! This site is here to assist you as you prepare to apply to medical school. It is a long road to take for your career in healthcare. With the information provided on this site, you will be more than ready. </p>
                <p>The process to apply to medical school is also long. Start early by gaining expereince in the healthcare field, excel in your courses, and build your network.</p>
            </section>

             <% let count = 0 %>
          <% data.forEach( survey => { %> 
           
                <% if (survey != 0 ) { %>
                <% count++; %>
                <% } %>
              <% }) %>
            
                <div id="main">
                <div id="survey-data">
                    <h2>Survey-data </h2> 
                </div>  
                <div>
                    
                    <ul>
                    <li> Did you take the survey yet?</li>
                    <li> So far, <%= count %> people took this survey.</li>
                
                    
                   
                    
                    </ul>
                </div> 
              
            </div>
        </div>
    
        
        
        <!--^end study method^-->

<!-- LEFT SIDE NAVIGATION -->
<aside id="sidebar">
            
<!-- <div class="container-left"> -->
    <div class="container-left-row">
        <a href="/resources/show">
        <i class="fas fa-archive" aria-hidden="true"> Resources</i>
        </a>
    </div>  
<hr>
    <div class="container-left-row">
        <a href="/admissions/show">
        <i class="fas fa-university" aria-hidden="true"> Admissions</i>
        </a>
    </div>
<hr>

    <div class="container-left-row">
        <a href="/study/show">
        <i class="fas fa-book-open" aria-hidden="true"> Study Habits</i>
        </a> 
    </div>
<hr>    
    
        <div class="container-left-row">
            <a href="/practice/show">
            <i class="fas fa-pen" aria-hidden="true"> Practice</i>
            </a>
        </div>
<hr>    
    
        <div class="container-left-row">
            <a href="/connect/show">
            <i class="fas fa-envelope" aria-hidden="true"> Connect</i>
            </a> 
        </div>
    </aside>
</div>

<!--^END OF LEFT CONTAINER^-->


<!---------Footer------->
<%- include('../partials/footer') -%>