<%- include('../partials/head') -%>
    <%- include('../partials/nav-bar') -%>

        <div class="body-color">
    <!----------Header---------->
    <section id="showcase-admissons">
        <div class="container-admis">
        <h1>Study</h1> 

        <div id="main-button">
          <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
        </div>

    </section>
        <!--------This is the sidebar------>
        <%- include('../partials/aside-bar.ejs') -%>
        <!---this is the name body content-->
        <div class= "main2">
            <div class="study">  
            <div class="h1"><h1>Study Methods</h1></div>
                <p>If you are going to medical school you need to have a good idea about how to study. There are many ways to review your material. Find a way that allows you to organize a vast amount of information.  
                </p>
            
            <div class="study-survey">
                <h4>-----------------------------------------------</h4>
                
            </div>
        
        
                
            </div>

            

            <div class="tutor">
                <h1>Tutoring</h1>
                <p>If you need more support with your studies, feel free to contact me. We can connect and discuss tutoring suport. We can design a study schedule to help you excel in your courses.</p>

            </div>
            
        </div>

        <div class = "study-techniques">
             <h2 class="h2">Try this!</h2>
           <p>These are study techniques I recommend but develop a study method that work best for you.</p>
           <ul>
               <li>Question Banks </li>
               <li>Concept Maps</li>
               <li>Anki</li>
               <li>White Boards</li>
               <li>Group Study</li>
               <li>Teach Others</li>
           </ul>
           <img src="../../images/young-study.jpeg" style="width: 90%;">
    </div>
        </div>
    <footer id="main-footer">
        
        <p>copyright &copy; 2021 My website</p>
    </footer>
</body>
</html>