<%- include('../partials/head') -%>
    <%- include('../partials/nav-bar') -%>
        <section id="showcase-admissons">
            <div class="container-admis">
            <h1>Survey</h1> 
    
            <div id="main-button">
              <button class= "openbtn" onclick="openSidebar()"> &#8592;</button> 
            </div>
    
        </section>


        <%- include('../partials/aside-bar.ejs') -%>

    <!---This is the survey body-->
    <div class="create-body">
        <div class="create-body-title"><h1>This is helpful!</h1></div>
        <p>Provide some information about resources you used and found helpful for the MCAT. </p>
        <form action="/survey" method="POST"> 
            
            <div> 
                <label for="title">What is your favorite book set to use?</label>
                <input type="text" id="title" name="title"  placeholder="Title" autofocus>
            </div>
            <br>
            <div> 
                <label for="months">How long did you study?</label>
                <input type="text" id="months" name="months" placeholder="Months">
            </div>
            <br>
            <div>
                <label for="publisher">If you signed up for a professional MCAT prep company, which one?</label>
                <select name="company" id="company">
                    <option value="" disabled selected>Select</option>
                    <option value="kaplan">Kaplan</option>
                    <option value="princeton review">Princeton Review</option>
                    <option value="next step">Next Step</option>
                    <option value="exam krackers">Exam Krackers</option>
                    <option value="the gold standard">The Gold Standard</option>
                    <option value="magoosh">Magoosh Mcat Prep</option>
                    <option value="khan academy">Khan Academy</option>
                </select>
            </div>
            <br>
            <div>
                <label for="use_aamc_material">Did you use the AAMC MCAT prep material?</label>
                <label class="radio-button">yes
                    <input type="radio" id="yes" name="use_aamc_material" value="yes">
                    
                </label>
                <label class="radio-button">no
                    <input type="radio"  id="no" name="use_aamc_material" value="no">
                    
                </label>
            </div>
            <br>
            <div>
                
                <label for="use_flashcards">Did you use Anki flashcards?</label>
                <label class="radio-button">yes
                <input type="radio"  id="yes" name="use_flashcards" value="yes">
                </label>
            <label class="radio-button">no
                <input type="radio"  id="no" name="use_flashcards" value="no">             
            </label>
            </div>
            <br>
            <div> 
                <label for="cars">Share advice on how you prepared for CARS:</label>
                <input type="text" id="cars" name="cars" placeholder="Cars advice">
            </div>
            <br>
            <div>
                <label for="favorite_section">Favorite Section of the MCAT:</label>
                <select name="favorite_section" id="favorite_section">
                    <option value="" disabled selected>Select</option>
                    <option value="chem_phys">Chemistry/Physics</option>
                    <option value="bio_boichem">Biology/Biochem</option>
                    <option value="critical_analysis_and reasoning">CARS</option>
                    <option value="psychology">Psychology</option>
                    <option value="the gold standard">The Gold Standard</option>
                    <option value="magoosh">Magoosh Mcat Prep</option>
                    <option value="khan academy">Khan Academy</option>
                </select>
            </div>
            <br>
                <div class="additional-info">
                    <label for="additional information">Would you like to add any other infomation?</label>
                    <input type="text" id="tell us" name="tell us" placeholder="Tell Us!"> 
                </div>
            <br>
                <div>
                    
                </div>

            <div class="button2">
                <input type="submit" class="button" value="submit">    
            </div>
        </form>
        <!--<p>Submit to see survey results at the bottom of the homepage!</p>-->
        </div>

        <footer id="main-footer">
            <p>copyright &copy; 2021 My website</p>
        </footer>
</body>
</html>